input{
    width: 50vh;
    font-size: 20px;
    /* border: none; */
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

button{
    border-radius: 12px;
    font-size: 20px;
    background-color: green;
    color: white;
}